.gymcard {
    background-color: #eddbdb;
    border-radius: 0.75rem;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.gymcard-img {
    width: 30rem;
    height: auto;
}

.gymcard-h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

.gymcard-p {
    color: #000000;
    font-size: 1.1rem;
}